{
{% if option_ivideon_cloud != False %}
    "account" : {
       "email" : "{{ivideon_cloud_email}}",
       "password" : "{{ivideon_cloud_password_hash}}",
       "serverName" : "{{ivideon_cloud_servername}}",
       "uid" : "{{ivideon_cloud_account_guid}}",
       "uin" : {{ivideon_cloud_account_id}}
    },

{% endif %}
   "archive" : {
      "maxEventLogSize" : 20480,
      "path" : "{{ivideon_archieve_path}}",
      "sizeLimit" : {{ ivideon_size_limit_raw.stdout }},
      "sizeToCleanup" : 512,
      "useArchive" : true,
      "webcamBitRate" : 2048,
      "webcamFrameRate" : 5,
      "webcamVideoFormat" : 1
   },
   "cameras" : [

      {% for camera in ivideon_cameras %}
    {
         "id" : {{ loop.index }},
         "mdSensitivity" : 50,
         "name" : "{{ camera.name }}",
         "recordType" : "{{ camera.recordType | default('motion') }}",
         "rtspTransport" : "{{ camera.rtspTransport | default('auto') }}",
         "urlHigh" : "{{ camera.urlHigh }}",
         "useCameraMotionDetector" : false,
         "useSound" : true
      }{% if loop.last == False %},{% endif %}
      {% endfor %}

   ],
   "externalScheduleFile" : "{{ivideon_config_path}}/schedule.json",
   "localView" : {
      "passwordHash" : "{{ ivideon_localview_password|hash('md5') }}",
      "proxyPort" : 3101,
      "streamerPort" : 8080
   },
   "logging" : {
      "isTruncate" : true,
      "path" : "{{ivideon_log_path}}/service.log"
   },
   "network" : {
      "ivideonProxyHost" : "proxy.ivideon.com",
      "useHttpProxy" : false
   },
   "system" : {
      "cloudConfig" : true,
      "cwd" : "{{ivideon_config_path}}"
   }
}
